#company-reviews .inner .fivestar-average-stars{
width:120px;
height:33px;
float:left;
margin-top:5px;
}
#company-reviews .inner span{
display:block;
float:left;
}
#company-reviews .inner{
padding-left:125px;
}

/*==changed by howard, companycenter VBO actions ==*/

#views-form-companycenter-jobs-panel-pane-1,
#views-form-companycenter-resumes-panel-pane-1{
clear: both;
}
div.resume-list .views-row {
    overflow: hidden;
    padding: 30px 0;
    position: relative;
}
div.resume-list{
  clear:both;
}
#normal-user-login-content .item-list{
display:none;
}
/*#company-user-login-content #shixiquan-companylogin-form .form-type-textfield input,
#company-user-login-content #shixiquan-companylogin-form .form-type-password input{
width:150px;
}*/
